.App {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(96, 96, 184), #5fa7c9);
}
.App1 {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(45deg, rgb(2, 103, 67), #000000);
}

.wrapper {
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px 150px;
  display: flex;
  flex-direction: column;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  button {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }
  button:hover {
    transform: scale(1.1);
  }
}
.switchWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  p {
    color: #ffffff;
    font-size: 14px;
  }
  .switch {
    position: relative;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 0px 0px 3px rgba($color: #000000, $alpha: 0.5);
    margin-left: 10px;
    .checkbox {
      visibility: hidden;
    }
    .checkboxLabel {
      display: block;
      position: absolute;
      top: 3px;
      left: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      content: url("../public/weather.png");
      background: #c2c2c2;
      z-index: 1;
      transition: left 0.2s ease-in-out;
      box-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.3);
      cursor: pointer;
    }
    .checkbox:checked + .checkboxLabel {
      content: none;
      left: 32px;
      background: linear-gradient(180deg, rgba(96, 96, 184, 0.3), #5fa7c9);
    }
  }
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  .leftSide {
    display: flex;
    align-items: center;
    input {
      width: 300px;
      height: 30px;
      border-radius: 10px;
      border: none;
      outline: none;
      padding: 0 10px;
      font-size: 20px;
      text-transform: capitalize;
    }
    ::placeholder {
      text-transform: lowercase;
    }

    .image {
      margin-left: 5px;
      color: #ffffff;
      width: 30px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
    }
    .image:hover {
      transform: scale(1.2);
    }
  }
  .rightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 20px;
      color: #ffffff;
      padding: 5px;
      transition: transform 0.1s ease-in-out;
    }
    button:hover {
      transform: scale(1.2);
    }
    p {
      font-size: 30px;
      color: #ffffff;
    }
  }
}

.timeAndLocation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  color: #ffffff;
  p {
    font-weight: 100;
  }
  h1 {
    font-size: 50px;
  }
}

.weatherDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  .weatherImg {
    width: 100px;
  }
  .temperatureAndDetails {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      color: #a1e2d8;
    }
    p {
      color: #ffffff;
      font-size: 60px;
    }
  }
  .tempMinAndMax {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    div {
      display: flex;
      align-items: center;
      .topAndDownTempIcons {
        color: #ffffff;
        width: 20px;
      }
      p {
        color: #ffffff;
        font-size: 20px;
      }
    }
  }
}
.humidityAndWind {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 30px;
  flex: 1;
  .humidity,
  .wind,
  .temperature {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #ffffff;
    font-size: 14px;

    p {
      padding: 0 5px;
    }
    .rightSidesImgs {
      width: 20px;
      height: 20px;
    }
  }
}

footer {
  align-items: flex-end;
  .footer {
    display: flex;
    justify-content: space-between;
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 10px;
      cursor: pointer;
    }
  }
}

// Responsive
@media screen and (max-width: 2000px) {
  .wrapper {
    width: 1000px;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper {
    width: 1000px;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    width: 900px;
  }
  .weatherDetails {
    .tempMinAndMax {
      div {
        .topAndDownTempIcons {
          width: 15px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    width: 700px;
    padding: 20px 80px;
  }
  .weatherDetails {
    .tempMinAndMax {
      div {
        .topAndDownTempIcons {
          width: 13px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    width: 300px;
    padding: 15px 20px;
  }
  .topButtons {
    button {
      font-size: 10px;
    }
  }
  .inputs {
    .leftSide {
      input {
        width: 150px;
        font-size: 10px;
      }
      .image {
        width: 20px;
      }
    }
    .rightSide {
      button {
        font-size: 15px;
        padding: 2px;
      }
      p {
        font-size: 20px;
      }
    }
  }
  .timeAndLocation {
    p {
      font-size: 10px;
    }
    h1 {
      padding-top: 20px;
      font-size: 20px;
    }
  }
  .weatherDetails {
    display: flex;
    flex-wrap: wrap;
    .weatherImg {
      flex-basis: 45%;
    }
    .temperatureAndDetails {
      flex-basis: 45%;
      p {
        font-size: 30px;
      }
    }
    .tempMinAndMax {
      flex-basis: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      div {
        .topAndDownTempIcons {
          width: 25px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .humidityAndWind {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    .temperature,
    .humidity {
      padding-bottom: 6px;
    }
  }
}
